.p-field-checkbox {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: "Gilroy Regular", serif;
  font-size: 1.5rem;
}

button{
  margin:0.4rem!important;
}

p-card {
  height:100%;
}

input {
  transform : scale(2);
}

label {
  margin-left: 0.5rem;
  font-size: 1.5rem!important;
  color: #1A2E49;
  opacity: 1;
}

h3{
  font: normal normal 300 2.5rem Gilroy;
}
