<div class="header">
  <h1>PAYMENT TYPE</h1>
</div>

<div class="payment-type-list">
  <div class="p-field-radiobutton">
    <p-radioButton name="city" value="Chicago" [(ngModel)]="paymentType" inputId="city1"></p-radioButton>
    <label>
      <i class="payment-type-icon pi pi-credit-card"><span>CREDIT / DEBIT CARD</span></i>
    </label>
  </div>
  <div class="p-field-radiobutton">
    <p-radioButton name="city" value="Los Angeles" [(ngModel)]="paymentType" inputId="city2"></p-radioButton>
    <label>
      <i class="payment-type-icon pi pi-shopping-cart"><span>ACCOUNT CREDIT</span></i>
    </label>
  </div>
</div>
