.header {
  background: #E4E4E4;
  border-radius: .5rem;
  margin-top: 1.5rem;
}

h1 {
  font: normal normal 200 1.53rem Gilroy Heavy;
  color:#000000;
  padding:1rem;
}

.p-field-radiobutton{
  padding-bottom:1rem;
}

i{
  color:#ADDDF5;
  font-size:1.23rem;
  padding-left: .6rem;
}

span{
  font: normal normal 200 1.23rem Gilroy Heavy;
  color:#000000;
  padding:1rem;
}
