/* Layout */
/* TopBar */
/* SideBar */
/* hero-regular - latin-ext_latin */

@font-face {
  font-family: 'Hero Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Hero Light Regular'), url('../fonts/HeroLight-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Hero Light Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Hero Light Bold'), url('../fonts/HeroLight-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Hero Light Light';
  font-style: normal;
  font-weight: normal;
  src: local('Hero Light Light'), url('../fonts/HeroLight-Light.woff') format('woff');
}

@font-face {
  font-family: "Hero";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy Regular'), url('../fonts/Gilroy-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy Heavy'), url('../fonts/GilroyHeavy.woff') format('woff');
}


/* Utils */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

*[hidden] {
  display: none;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #ffffff;
  padding: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
}
.card.card-w-title {
  padding-bottom: 2em;
}
.card .card-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.card .card-subtitle {
  color: #757575;
  font-weight: 600;
  margin: -1rem 0 1rem 0;
}

.p-shadow-content {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border: 0 none !important;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: "Hero Light Regular", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #424242;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body.main-body {
  background-color: #fcfbfb;
}
body a {
  text-decoration: none;
  color: #607D8B;
}

.layout-wrapper .topbar {
  position: fixed;
  width: 100%;
  background-color: white;
  height: 60px;
  box-sizing: border-box;
  z-index: 100;
}
.layout-wrapper .topbar .logo {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
}
.layout-wrapper .topbar .logo img {
  width: 45px;
  margin-top: 7px;
}
.layout-wrapper .topbar .app-name {
  height: 36px;
  text-align: left;
  font: normal normal 800 30px/37px Gilroy Heavy;
  letter-spacing: 0px;
  color: #1B2D49;
  opacity: 1;
}
.layout-wrapper .topbar #topbar-menu-button {
  font-size: 28px;
  margin: 12px 20px 0 0;
  display: none;
  float: right;
  color: #0a0a0a;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.layout-wrapper .topbar .topbar-menu {
  float: right;
  margin: 8px 10px 0 0;
  padding: 0;
  list-style-type: none;
}
.layout-wrapper .topbar .topbar-menu > li {
  float: right;
  position: relative;
  margin-left: 1em;
  margin-top: 2px;
  margin-right: 2rem;
}
.layout-wrapper .topbar .topbar-menu > li > a .nav-link {
  position: relative;
  display: block;
    height: 8px;
    text-align: center;
    font: normal normal normal 20px/26px Hero Regular;
    letter-spacing: 0px;
    color: #1A2E49;
    opacity: 1;
}
.layout-wrapper .topbar .topbar-menu > li > a .topbar-icon {
  font-size: 2em;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.layout-wrapper .topbar .topbar-menu > li > a .topbar-item-name {
  display: none;
}
.layout-wrapper .topbar .topbar-menu > li > a .topbar-badge {
  position: absolute;
  right: -5px;
  top: -5px;
  background-color: #8BC34A;
  color: #ffffff;
  padding: 2px 4px;
  display: block;
  font-size: 12px;
  line-height: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.layout-wrapper .topbar .topbar-menu > li > a:hover {
  color: #2196F3;
}
.layout-wrapper .topbar .topbar-menu > li.profile-item {
  margin-top: -5px;
}
.layout-wrapper .topbar .topbar-menu > li.profile-item .profile-image {
  display: inline-block;
  vertical-align: middle;
}
.layout-wrapper .topbar .topbar-menu > li.profile-item .profile-image img {
  width: 36px;
  height: 36px;
}
.layout-wrapper .topbar .topbar-menu > li.profile-item .profile-info {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
  margin-top: -5px;
}
.layout-wrapper .topbar .topbar-menu > li.profile-item .profile-info .topbar-item-name {
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  display: block;
  margin-left: 4px;
  margin-right: 6px;
}
.layout-wrapper .topbar .topbar-menu > li.profile-item .profile-info .topbar-item-name.profile-name {
  font-size: 14px;
}
.layout-wrapper .topbar .topbar-menu > li.profile-item .profile-info .topbar-item-name.profile-role {
  font-size: 12px;
  color: #e6e6e6;
}
.layout-wrapper .topbar .topbar-menu > li.profile-item > ul {
  top: 50px;
}
.layout-wrapper .topbar .topbar-menu > li.search-item {
  position: relative;
  color: #ffffff;
  overflow: hidden;
  margin-top: 0;
}
.layout-wrapper .topbar .topbar-menu > li.search-item input {
  padding: 6px;
  padding-right: 20px;
}
.layout-wrapper .topbar .topbar-menu > li > ul {
  position: absolute;
  top: 42px;
  right: 5px;
  display: none;
  width: 250px;
  background-color: #f7f7f7;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.layout-wrapper .topbar .topbar-menu > li > ul a {
  padding: 0.571em 0.857em;
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: #757575;
}
.layout-wrapper .topbar .topbar-menu > li > ul a i {
  margin-right: 8px;
  font-size: 16px;
}
.layout-wrapper .topbar .topbar-menu > li > ul a img {
  margin-right: 8px;
}
.layout-wrapper .topbar .topbar-menu > li > ul a i, .layout-wrapper .topbar .topbar-menu > li > ul a img, .layout-wrapper .topbar .topbar-menu > li > ul a span {
  vertical-align: middle;
}
.layout-wrapper .topbar .topbar-menu > li > ul a .topbar-submenuitem-badge {
  background-color: #8BC34A;
  padding: 2px 4px;
  display: block;
  font-size: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  float: right;
}
.layout-wrapper .topbar .topbar-menu > li > ul a:hover {
  background-color: #e3e3e3;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.layout-wrapper .topbar .topbar-menu > li.active-topmenuitem > ul {
  display: block;
}

.layout-wrapper .layout-sidebar {
  position: fixed;
  top: 60px;
  width: 60px;
  background-color: #ffffff;
  height: 100%;
  -webkit-box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.24), 0 25px 55px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.24), 0 25px 55px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.24), 0 25px 55px 0 rgba(0, 0, 0, 0.19);
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.layout-wrapper .layout-sidebar .layout-tabmenu {
  height: 100%;
  position: relative;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav {
  margin: 0;
  padding: 0;
  display: block;
  z-index: 100;
  width: 60px;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li {
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li a {
  display: block;
  height: 60px;
  line-height: 60px;
  width: 100%;
  box-sizing: border-box;
  color: #757575;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li a i {
  line-height: inherit;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 22px;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li a:hover {
  background-color: #E0E0E0;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li.active-item {
  border-left: 4px solid #8BC34A;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li.active-item a {
  background: #ffffff;
  color: #607D8B;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li.active-item a i {
  margin-left: -4px;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li.active-item .layout-tabmenu-tooltip {
  left: 56px;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li .layout-tabmenu-tooltip {
  display: none;
  padding: 0 5px;
  position: absolute;
  left: 60px;
  top: 20px;
  z-index: 101;
  line-height: 1;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li .layout-tabmenu-tooltip .layout-tabmenu-tooltip-text {
  padding: 6px 8px;
  font-weight: 700;
  background-color: #424242;
  color: #ffffff;
  min-width: 75px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li .layout-tabmenu-tooltip .layout-tabmenu-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #424242;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents {
  width: 250px;
  position: absolute;
  top: 0;
  left: 60px;
  display: none;
  background-color: #ffffff;
  height: 100%;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content {
  height: 100%;
  display: none;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content.layout-tabmenu-content-active {
  display: block;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content a {
  color: #757575;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title {
  padding: 24px 16px 0 16px;
  box-sizing: border-box;
  color: #424242;
  font-weight: bold;
  font-size: 16px;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title .menu-pin-button {
  padding: 4px;
  margin-top: -4px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  float: right;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title .menu-pin-button i {
  line-height: inherit;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title .menu-pin-button:hover {
  background-color: #E0E0E0;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title .menu-button {
  padding: 4px;
  margin-top: -4px;
  float: right;
  font-size: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title .menu-button:hover {
  background-color: #E0E0E0;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content {
  padding: 8px 0;
  height: 100%;
  overflow: auto;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu {
  margin: 0;
  padding: 0;
  padding-bottom: 150px;
  list-style-type: none;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li a {
  display: block;
  user-select: none;
  cursor: pointer;
  padding: 8px 32px 8px 16px;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li a i:first-child {
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li a span {
  display: inline-block;
  vertical-align: middle;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li a.rotated-icon .layout-menuitem-icon {
  transform: rotate(90deg);
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li a i.submenu-toggler {
  float: right;
  font-size: 16px;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li a:hover {
  background-color: #E0E0E0;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li a.active-menuitem-routerlink {
  color: #8BC34A;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li a.active-menuitem-routerlink i {
  color: #8BC34A;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li.red-badge > a .menuitem-badge {
  background-color: #F44336;
  color: #ffffff;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li ul li a {
  padding: 8px 32px 8px 32px;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li ul li ul li a {
  padding: 8px 32px 8px 48px;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li ul li ul li ul li a {
  padding: 8px 32px 8px 64px;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li ul li ul li ul li ul li a {
  padding: 8px 32px 8px 80px;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li ul li ul li ul li ul li ul li a {
  padding: 8px 32px 8px 96px;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li ul li ul li ul li ul li ul li ul li a {
  padding: 8px 32px 8px 112px;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li.active-menuitem > a {
  color: #8BC34A;
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li.active-menuitem > a i.submenu-toggler {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu .menuitem-badge {
  position: absolute;
  right: 58px;
  top: 10px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  text-align: center;
  background-color: #8BC34A;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark {
  background-color: #343434;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-nav li a {
  color: #757575;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-nav li a:hover {
  background-color: #545454;
  color: #f5f5f5;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-nav li.active-item {
  border-left: 4px solid #8BC34A;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-nav li.active-item a {
  background-color: #424242;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-nav li.active-item a i {
  color: #dee0e3;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-nav li .layout-tabmenu-tooltip .layout-tabmenu-tooltip-text {
  background-color: #8BC34A;
  color: #ffffff;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-nav li .layout-tabmenu-tooltip .layout-tabmenu-tooltip-arrow {
  border-right-color: #8BC34A;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents {
  background-color: #424242;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title {
  color: #dee0e3;
  border-bottom-color: #82878b;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title .menu-button, .layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title .menu-pin-button {
  color: #dee0e3;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title .menu-button:hover, .layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title .menu-pin-button:hover {
  background-color: #545454;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li > a {
  color: #dee0e3;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li > a i:first-child {
  color: #dee0e3;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li > a:hover {
  background-color: #545454;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li > a:hover i:first-child {
  color: #dee0e3;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li > a.active-menuitem-routerlink {
  color: #b0d683;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li > a.active-menuitem-routerlink i {
  color: #b0d683;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li.active-menuitem > a {
  color: #8BC34A;
}
.layout-wrapper .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li.active-menuitem > a i:first-child {
  color: #8BC34A;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.layout-wrapper .layout-main {
  flex: 1 1 0;
  margin-left: 0px;
  padding: 80px 10px 0px 10px;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}

.layout-wrapper .footer {
  margin-left: 0;
  padding: 0.5em;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}
.layout-wrapper .footer .footer-text-left {
  float: left;
}
.layout-wrapper .footer .footer-text-right {
  color: #757575;
  float: right;
}
.layout-wrapper .footer .footer-text-right span {
  vertical-align: middle;
  display: inline-block;
}

.layout-config {
  position: fixed;
  top: 60px;
  padding: 0;
  right: 0;
  display: block;
  width: 16em;
  z-index: 998;
  height: calc(100% - 50px);
  transform: translate3d(16em, 0px, 0px);
  transition: transform 0.3s;
  backface-visibility: hidden;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24);
  color: #424242;
  background-color: #ffffff;
}
.layout-config.layout-config-active {
  transform: translate3d(0px, 0px, 0px);
}
.layout-config.layout-config-active .layout-config-button i {
  transform: rotate(360deg);
}
.layout-config .layout-config-button {
  display: block;
  position: absolute;
  width: 52px;
  height: 52px;
  line-height: 52px;
  background-color: #ffffff;
  text-align: center;
  color: #424242;
  top: 230px;
  left: -52px;
  z-index: -1;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24);
}
.layout-config .layout-config-button i {
  font-size: 32px;
  line-height: inherit;
  cursor: pointer;
  transform: rotate(0deg);
  transition: color 0.3s, transform 1s;
}
.layout-config .layout-config-close {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  right: 14px;
  top: 10px;
  z-index: 1;
  background-color: #e54a51;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.layout-config .layout-config-close i {
  color: #ffffff;
  line-height: inherit;
  font-size: 12px;
}
.layout-config .layout-config-close:hover {
  background-color: #ea6e73;
}
.layout-config .layout-config-content {
  position: relative;
  height: 100%;
  padding: 1em;
  overflow: auto;
  padding-bottom: 3em;
}
.layout-config .layout-config-content .layout-themes {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.layout-config .layout-config-content .layout-themes > div {
  padding: 0.25rem;
}
.layout-config .layout-config-content .layout-themes a {
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  display: block;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: transform 0.3s;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.layout-config .layout-config-content .layout-themes a i {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
  color: #ffffff;
}
.layout-config .layout-config-content .layout-themes a:hover {
  transform: scale(1.1);
}
.layout-config .p-col {
  text-align: center;
}
.layout-config p {
  line-height: 1.5;
  margin-top: 0;
  color: #757575;
}

.blocked-scroll-config {
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .layout-config {
    transform: translate3d(100%, 0px, 0px);
  }
  .layout-config.layout-config-active {
    transform: translate3d(0px, 0px, 0px);
  }
  .layout-config .layout-config-close {
    right: 10px;
  }
}
@media (min-width: 1025px) {
  .layout-wrapper.layout-wrapper-menu-active .layout-sidebar {
    width: 310px;
  }
  .layout-wrapper.layout-wrapper-menu-active .layout-sidebar .layout-tabmenu .layout-tabmenu-contents {
    display: block;
  }
  .layout-wrapper.layout-wrapper-menu-active .layout-main {
    margin-left: 310px;
  }
  .layout-wrapper.layout-wrapper-menu-active .footer {
    margin-left: 310px;
  }
  .layout-wrapper.layout-overlay-menu.layout-wrapper-menu-active .layout-main {
    margin-left: 65px;
  }
  .layout-wrapper.layout-overlay-menu.layout-wrapper-menu-active .footer {
    margin-left: 65px;
  }
  .layout-main {
    margin-left: 5rem!important;
    margin-right: 5rem!important;
  }
}
@media (max-width: 1160px) {
  .layout-wrapper .topbar #topbar-menu-button {
    display: block;
  }
  .layout-wrapper .topbar #topbar-menu-button i {
    font-size: 18px;
  }
  .layout-wrapper .topbar .topbar-menu {
    position: absolute;
    top: 60px;
    right: 5px;
    width: 250px;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    display: none;
    background-color: #f7f7f7;
    list-style-type: none;
    margin: 0;
    padding: 8px 0;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .layout-wrapper .topbar .topbar-menu > li {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    float: none;
  }
  .layout-wrapper .topbar .topbar-menu > li > a {
    font-size: 14px;
    width: 16rem;
    height: 3rem;
    display: block;
    box-sizing: border-box;
    color: #424242;
    padding: 0.571em 0.857em;
    position: relative;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .layout-wrapper .topbar .topbar-menu > li > a .topbar-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    font-size: 20px;
  }
  .layout-wrapper .topbar .topbar-menu > li > a:hover {
    background-color: #e3e3e3;
    color: #424242;
  }
  .layout-wrapper .topbar .topbar-menu > li > a .topbar-item-name {
    display: inline-block;
    vertical-align: middle;
  }
  .layout-wrapper .topbar .topbar-menu > li > a .topbar-badge {
    position: absolute;
    right: 10px;
    top: 8px;
    padding: 2px 4px;
    display: block;
    font-size: 12px;
    line-height: 12px;
  }
  .layout-wrapper .topbar .topbar-menu > li > ul {
    display: none;
    list-style-type: none;
    padding: 0 0 0 18px;
    margin: 0;
    position: static;
    top: auto;
    left: auto;
    box-sizing: border-box;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  .layout-wrapper .topbar .topbar-menu > li > ul li a {
    padding: 0.571em 0.857em;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .layout-wrapper .topbar .topbar-menu > li > ul li a span, .layout-wrapper .topbar .topbar-menu > li > ul li a img, .layout-wrapper .topbar .topbar-menu > li > ul li a .fa, .layout-wrapper .topbar .topbar-menu > li > ul li a i {
    display: inline-block;
    vertical-align: middle;
  }
  .layout-wrapper .topbar .topbar-menu > li > ul li a img {
    width: 1.28571429em;
    margin-right: 8px;
  }
  .layout-wrapper .topbar .topbar-menu > li > ul li a .fa, .layout-wrapper .topbar .topbar-menu > li > ul li a i {
    margin-right: 8px;
  }
  .layout-wrapper .topbar .topbar-menu > li.active-topmenuitem > ul {
    display: block;
  }
  .layout-wrapper .topbar .topbar-menu > li.profile-item .profile-image img {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .layout-wrapper .topbar .topbar-menu > li.profile-item .profile-info .topbar-item-name.profile-name {
    vertical-align: middle;
    font-size: 14px;
  }
  .layout-wrapper .topbar .topbar-menu > li.profile-item .profile-info .topbar-item-name.profile-role {
    display: none;
  }
  .layout-wrapper .topbar .topbar-menu > li.search-item {
    text-align: center;
  }
  .layout-wrapper .topbar .topbar-menu > li.search-item i {
    color: #424242;
  }
  .layout-wrapper .topbar .topbar-menu > li.search-item input {
    color: #424242;
    border: 0 none;
    width: 90%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 2px;
  }
  .layout-wrapper .topbar .topbar-menu.topbar-menu-visible {
    display: block;
  }
  .layout-wrapper.layout-wrapper-menu-active .layout-sidebar {
    width: 310px;
  }
  .layout-wrapper.layout-wrapper-menu-active .layout-sidebar .layout-tabmenu .layout-tabmenu-contents {
    display: block;
  }
}
@media (max-width: 640px) {
  .layout-wrapper .topbar .logo {
    width: 40px;
    padding-top: 20px;
  }
  .layout-wrapper .topbar .logo img {
    width: 30px;
    margin-top: -5px;
  }
  .layout-wrapper .layout-sidebar {
    width: 40px;
  }
  .layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav {
    width: 40px;
  }
  .layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li a i {
    font-size: 20px;
  }
  .layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li .layout-tabmenu-tooltip {
    left: 40px;
  }
  .layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li.active-item .layout-tabmenu-tooltip {
    left: 36px;
  }
  .layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents {
    left: 40px;
  }
  .layout-wrapper.layout-wrapper-menu-active .layout-sidebar {
    width: 290px;
  }
  .layout-wrapper .layout-main {
    margin-left: 0px;
  }
  .layout-wrapper .footer {
    margin-left: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

mark {
  background: #FFF8E1;
  padding: 0.25rem 0.4rem;
  border-radius: 3px;
  font-family: monospace;
}

blockquote {
  margin: 1rem 0;
  padding: 0 2rem;
  border-left: 4px solid #90A4AE;
}

hr {
  border-top: solid #eaeaea;
  border-width: 1px 0 0 0;
  margin: 1rem 0;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
}
p:last-child {
  margin-bottom: 0;
}

input .p-inputText {
  font-family: "Gilroy Regular", serif !important;
  font-size: 1rem!important;
  color: #000001!important;
  background: #ffffff!important;
  padding: 1rem 1rem!important;
  border: 1px solid rgba(0, 0, 0, 0.38)!important;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1)!important;
  appearance: none!important;
  border-radius: 4px!important;
}
