<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" arguments="%LAUNCHER_ARGS%" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44375" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="SmtpSettings:UseTLS" value="false" />
          <environmentVariable name="SmtpSettings:Port" value="587" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="SmtpSettings:AlternativePort" value="25" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>