<div class="direct-contact-container ">

  <ul class="contact-list">
    <li class="list-item">
      <i class="pi pi-map-marker"></i>
      <div class="details">
      <h3 class="contact-text place"> Unit 7, 2nd Floor Mowana Mews CBD Gaborone</h3>
      </div>
    </li>

    <li class="list-item">
      <i class="pi pi-phone"></i>
      <div class="details">
      <h3 class="contact-text phone"> (267) 77338100, (267) 73056733</h3>
      <span class="contact-text bottom"> Mon to Fri 8am to 430pm</span>
      </div>
    </li>

    <li class="list-item">
      <i class="pi pi-clock"></i>
      <div class="details">
        <h3 class="contact-text gmail"> info@gosmartvalue.com</h3>
        <span class="contact-text bottom"> Send us your query</span>
      </div>
    </li>

  </ul>
</div>
