li {

  font: normal normal 300 1.5rem Gilroy Regular;
  color: #1A2E49;
  opacity: 1;
  text-decoration: none;
  text-underline-offset: 1rem;
  margin-top:2rem;
}

ul {
  list-style-type: none;
}

.bottom{
  color: #8a8a8a;
}

h3{
  color: #2a2a2a;
  font: normal normal 200 1.7rem Gilroy Heavy;
}

span{
  font: normal normal 200 1.5rem Gilroy Regular;
}

i {
  float:left;
  font-size: 1.6rem;
}

.details{
  margin-left:2rem;
}
