<div class="outer col-sm-12 image-container set-full-height" style="background-image:url(/accessDenied.jpg);">
	<div class="middle container-fluid" style="padding-top:40px">
		<div class=" inner container-fluid">
			<div class="col-md-8 offset-md-2">
				<div class="card">
					<div class="text-center">
						<h2 class="success-color">
							<span class="input-group-addon ">
								<i class="material-icons ">check_circle</i>
							</span>Instruction sent Successfully!!
						</h2>
					</div>
					<div class="row">
						<div class="col-sm-12 text-center">
							You have successfully instructed a valuer to perform a valuation on your property.All updates will be communicated through your email.
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-center">
							<span>Return to dashboard </span><a  asp-controller="Home" asp-action="Index" class="btn btn-blue">Home</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>