<form>
  <div class="p-field">
      <span class="p-float-label">
          <input type="text" id="firstName" [value]="person.firstName" disabled pInputText>
          <label for="firstName">First Name</label>
      </span>
  </div>

  <div class="p-field">
      <span class="p-float-label">
          <input type="text" id="lastName" [value]="person.lastName"disabled pInputText>
          <label for="lastName">Last Name</label>
      </span>
  </div>

  <div class="p-field">
      <span class="p-float-label">
          <input type="text" id="phoneNumber" [value]="person.phoneNumber" disabled pInputText>
          <label for="phoneNumber">Phone</label>
      </span>
  </div>

  <div class="p-field">
      <span class="p-float-label">
          <input type="email" id="email" aria-describedby="email-help" [value]="person.email" disabled pInputText>
          <label for="email">Email</label>
      </span>
  </div>
  <br>
  <button class="button-edit" (click)="goToEdit()">Edit Profile</button>
</form>
