<!-- <div class="p-grid p-fluid">
  <div class="grid row">
    <span class="p-float-label xl:col-12 lg:col-12 md:col-12 sm:col-12 area-space">
      <textarea rows="5" cols="30"  pInputTextarea></textarea>
      <label class="message">Your message</label>
    </span>

    <span class="p-float-label xl:col-6 lg:col-6 md:col-6 sm:col-12 area-space">
      <input id="firstname" type="text" pInputText>
      <label for="firstname">Firstname</label>
    </span>

    <span class="p-float-label xl:col-6 lg:col-6 md:col-6 sm:col-12 area-space">
      <input id="lastname" type="text" pInputText>
      <label for="lastname">Lastname</label>
    </span>

    <span class="p-float-label xl:col-6 lg:col-6 md:col-6 sm:col-12 area-space">
      <input id="email" type="text" pInputText>
      <label for="email">Email</label>
    </span>

    <span class="p-float-label xl:col-6 lg:col-6 md:col-6 sm:col-12 area-space">
      <input id="phone" type="text" pInputText>
      <label for="phone">Phone</label>
    </span>

    <span class="p-float-label xl:col-12 lg:col-12 md:col-12 sm:col-12 area-space">
      <input id="subject" type="text" pInputText>
      <label for="subject">Subject</label>
    </span>
  </div>
</div> -->


  <div class="grid p-fluid">
  <div class="col-12">
    <span class="p-float-label">
      <textarea rows="5" cols="30"  pInputTextarea></textarea>
      <label class="message">Your message</label>
    </span>
  </div>

 
    <div class="col-12 xl:col-6 sm:col-12">
      <span class="p-float-label">
        <input id="firstname" type="text" pInputText>
        <label for="firstname">Firstname</label>
      </span>
    </div>
  
    <div class="col-12 xl:col-6 sm:col-12">
      <span class="p-float-label">
      <input id="lastname" type="text" pInputText>
      <label for="lastname">Lastname</label>
      </span>
    </div>

    <div class="col-12 xl:col-6 sm:col-12">
      <span class="p-float-label">
      <input id="email" type="text" pInputText>
      <label for="email">Email</label>
      </span>
    </div>

    <div class="col-12 xl:col-6 sm:col-12">
      <span class="p-float-label">
      <input id="phone" type="text" pInputText>
      <label for="phone">Phone</label>
      </span>
    </div>

    <div class="col-12">
      <span class="p-float-label">
      <input id="subject" type="text" pInputText>
      <label for="subject">Subject</label>
      </span>
    </div>

  </div>