<h2 class="section-title">Join Us</h2>
<div fxLayoutAlign="center">
  <p class="section-description">Join our great team of valuation surveyors</p>
</div>

<div class="join-us flex flex-row align-items-start justify-content-center xl:m-1 xl:m-1" >
    <div class="join-us-text bg-blue-500 text-white blue-container">
      <p class="section-sub-title">Become a Valuation Surveyor</p>

      <p class="section-sub-description">Join our team of valuation surveyors.</p>

      <p class="section-sub-description">Provide great service empowered by market insights and trends at your finger tips.</p>

      <p class="section-sub-description">Work from anywhere and get paid.</p>


      <div class="flex align-items-center justify-content-center">
        <button class="button-start"><span>Get Started</span></button>
      </div>
    </div>

    <div class="flex align-items-center justify-content-center border-round image-container">
      <img [src]="'../../../../assets/images/home/join-us.png'" alt="Picture"/>
    </div>
</div>
