@model GoSmartValue.Web.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "User Account Confirmation";
}
        <form style="height:100%">

            <div class="card col-8 col-centered">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <div class="form-row card">
                    <div card-body>
                        <div class="alert-success">
                            Thank you for confirming your email. You account is now activated.
                        </div>
                    </div>
                </div>
            </div>
        </form>
