@model GoSmartValue.Web.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "User Login";
}

        <div class="outer container-fluid image-container set-full-height" style="background-image:url(/forgotPassword.jpg);">
            <div class="middle container-fluid" style="padding-top:75px">
                <div class=" inner container-fluid" >
                    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnurl="@Context.Request.QueryString.Value" style="background-color:transparent!important">
                        <div class="shadow col-md-4 container-fluid" style="background-color: #ffffff;">
                            <div class="container-fluid">

                                <div class="form-group col-sm-12 text-center"><h3>Password Reset</h3></div>

                                <div class="form-group col-sm-12" style="margin-bottom:20px"><p>Enter your email address below to reset your password</p></div>

                                <div class=" col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email Address</label>
                                        <input asp-for="UserName" type="email" class="form-control" required="" autofocus="">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                     <button class="btn btn-lg btn-blue btn-block" type="submit" role="button" asp-action="ForgotPassword" asp-controller="Account">Reset Password</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    
