@using AV.Common.Entities
@using Microsoft.AspNetCore.Identity
@model GoSmartValue.Web.Models.ForgotPasswordViewModel
@inject SignInManager<User> SignInManager

@{
    ViewBag.Title = "User Login";
}

<div class="outer col-sm-12 image-container set-full-height" style="background-image:url('accessDenied.jpg');">
	<div class="middle container-fluid" style="padding-top:100px">
		<div class=" inner container-fluid">
			<div class="col-md-8 offset-md-2">
				<form style="background-color:transparent!important">
					<div class="card">
						<div class="text-center"><h3 class="h3 mb-3 font-weight-normal">Password reset link sent to your email</h3></div>
						<div class="p-2">
							Your password reset link has been sent to you email.Please log on to your email to access it.

						</div>
					<div class="text-center">
						<button asp-controller="Account" asp-action="Login" class="btn btn-blue btn-lg text-center">Login</button>
							
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

