@model GoSmartValue.Web.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}
    <form class="col-sm-12" method="post" asp-controller="Account" asp-action="Login" asp-route-returnurl="@Context.Request.QueryString.Value" style="height:100%">

        <div class="outer container-fluid" style="background-image:url(/register.jpg);background-size:cover;height:100vh">
            <div class="middle container-fluid" style="padding-top:75px">
                <div class=" inner container-fluid" style="height:500px;margin:auto;max-width:1090px;max-height:100%;">

                    <div class="box-shadow col-md-4 container-fluid" style="background-color: #ffffff;height:100%;box-shadow: 31px 14px 0px darkred;">
                        <div class="container-fluid">

                            <div class="form-group col-sm-12" style="text-align:center"><span style="color: #0d47a1;font-size: 30px;">Please reset your password.</span></div>

                            

                            <div class="form-row">
                                <input asp-for="Email" type="hidden" />
                                <input asp-for="Token" type="hidden" />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-row col-sm-12">
                                    <label asp-for="Password" class="sr-only"> Password</label>
                                    <input asp-for="Password" type="password" class="form-control mb-3 col-sm-12" placeholder="Password" required="" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-row col-sm-12">
                                    <label asp-for="PasswordConfirm" class="sr-only">Confirm Password</label>
                                    <input asp-for="PasswordConfirm" type="password" class="form-control mb-3 col-sm-12" placeholder="Confirm Password" required="" />
                                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                                </div>

                                <button class="btn btn-lg btn-blue btn-block" type="submit" role="button" asp-action="ResetPassword" asp-controller="Account">Reset Password</button>


                            </div>
                        </div>
                    </div>
                    @*<div class=" row inner justify-content-center container-fluid" style="margin-left:auto;max-width:1090px;">
                    <div class="container-fluid" style="padding-top:5px;margin-left:80px; font-size:12px;">

                    </div>

                </div>*@
                </div>
            </div>
        </div>
    </form>
