<div class="grid total">
  <div class="labels col-9">
    <div class="vat col-12 flex justify-content-end">
      <label class="justify-content-start">VAT</label>
    </div>
    <div class="discount col-12 flex justify-content-end">
      <label class="justify-content-start">Discount</label>
    </div>
    <div class="total-amount col-12 flex justify-content-end">
      <label class="justify-content-start">Total</label>
    </div>
  </div>
  <div class="col-3">
    <div class="vat col-12 flex justify-content-end">
      <span>BWP 10.00(13%)</span>
    </div>
    <div class="discount col-12 flex justify-content-end">
      <span>-BWP {{discountTotal}}</span>
    </div>
    <div class="total-amount col-12 flex justify-content-end">
      <span>BWP {{netTotal}}</span>
    </div>
  </div>
</div>
