button{
  margin:0.4rem!important;
}

i{
  color: green;
  font-weight: bolder;
  font-size:1.4rem;
}

p{
  font: normal normal 200 1.83rem Gilroy Regular;
}

h3{
  font: normal normal 300 2.5rem Gilroy Heavy;
}

.summary-title {
  font: normal normal 200 2rem Gilroy Regular;
  color: #1A2E49;
  opacity: 1;
  text-decoration: underline #FF8800;
  text-underline-offset: 1rem;
  margin-top:2rem;
  margin-bottom: 3rem;
}
