@using AV.Contracts.Enums
@using GoSmartValue.Web.Services

@model AV.Contracts.Models.Valuation.ComparableRequestViewModel
@inject CachedStorageService CachedStorageService

@{
	Layout = "_Layout";

	SelectList locations = new SelectList(
		CachedStorageService.Cities
			.Select(c =>
				new SelectListItem { Text = c.Value, Value = c.Key.ToString(), Selected = c.Key == 33 })
		, "Value", "Text", "-");

	var localities = new List<SelectListItem>();

	var streets = new List<SelectListItem>();
}
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.0/dist/latest/bootstrap-autocomplete.min.js"></script>
<link href="~/css/bootstrap-datepicker.min.css" rel="stylesheet" />


<div id="QuickValuation" class="col-sm-12 image-container set-full-height" style="background-image:url(/discussions.jpg);">
	<div class="inner col-sm-12">
		<div id="ValuationRequest" name="ComparableRequest" class="row" style="padding:2.5rem">

			<div class="col-md-8 offset-md-2">
				<!--      Wizard container        -->
				<div class="wizard-container">
					<div class="card wizard-card" data-color="red" id="wizard">
						<form method="post">
							<!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->
							<div class="wizard-header">
								<h3 class="wizard-title">
									Instant Valuation
								</h3>
								<h5>This information will help us calculate an estimate for you.</h5>
							</div>
							<div class="wizard-navigation">
								<ul>
									<li><a href="#propertyDetails" data-toggle="tab">Property Details</a></li>
									<li><a href="#situation" data-toggle="tab">Situation</a></li>
									@*<li><a href="#ownership" data-toggle="tab">Ownership</a></li>*@
								</ul>
							</div>
							<div class="tab-content">
								<div class="tab-pane" id="propertyDetails">
									<div class="row">
										<div class="col-sm-12">
											<h4 class="info-text"> Let's start with the basic details.</h4>
										</div>
										<div class="col-sm-6">
											<div class="autocomplete label-floating form-group">
												<label class="control-label">Location:city/town</label>
												<input type="text" asp-for="LocationName" autocomplete="off" tabindex="1"
													   required="required" class="form-control" />
											</div>
											<div class="form-group label-floating autocomplete">
												<label class="control-label">Street</label>
												<input type="text" asp-for="StreetName" autocomplete="off" tabindex="3"
													   onfocus="SetStreets()"
													   class="form-control" />
												<span asp-validation-for="StreetName" class="text-danger"></span>
                                            </div>
										</div>
										<div class="col-sm-6">
											<div class="form-group label-floating autocomplete">
												<label class="control-label">Ward</label>
												<input type="text" asp-for="LocalityName" autocomplete="off" tabindex="2"
													   onfocus="SetLocalities()"
													   class="form-control" />
												<span asp-validation-for="LocalityName" class="text-danger"></span>
											</div>
											<div class="form-group label-floating">
												<label class="control-label">Plot Number</label>
												<input asp-for="PlotNo" class="form-control" tabindex="4" />
												<span asp-validation-for="PlotNo" class="text-danger"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="situation">
									<div class="row">
										<div class="col-sm-12"><h4 class="info-text">How big is your plot/property and what do you use it for? </h4></div>
										<div class="col-sm-6">
                                            <div class="label-floating form-group">
                                                <label class="control-label">Plot size</label>
                                                <input asp-for="Size" type="number" class="form-control" tabindex="5" />
                                                <span asp-validation-for="Size" class="text-danger"></span>
                                            </div>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Developments</label>
                                                @Html.DropDownList("PropertyType",
                                                    new SelectList(CachedStorageService.GetDevelopments()),
                                                    new { @class = "form-control dropdown",@tabindex ="7" })
                                                <span asp-validation-for="PropertyType" class="text-danger"></span>
                                            </div>
										</div>
										<div class="col-sm-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Plot measurement units</label>
                                                @Html.DropDownList("Metric",
                                                    new SelectList(Enum.GetValues(typeof(Metric))),
                                                    new { @class = "form-control dropdown",@tabindex ="6" })

                                            </div>
											<div class="form-group label-floating">
												<label class="control-label">Land Use</label>
												@Html.DropDownList("LandUse",
																			new SelectList(Enum.GetValues(typeof(LandUse))),
																			new { @class = "form-control dropdown",@tabindex ="8" })
												<span asp-validation-for="LandUse" class="text-danger"></span>
											</div>
										</div>

									</div>
								</div>
								@*<div class="tab-pane" id="ownership">
									<h4 class="info-text">Do you own this property?</h4>
									<div class="row">

											<div class="col-sm-6">
												<div class="autocomplete label-floating form-group">
													<label class="control-label">Purchase Date</label>
													<input asp-for="PurchaseDate" type="date" tabindex="9" class="form-control" />
													<span asp-validation-for="PurchaseDate" class="text-danger"></span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group label-floating autocomplete">
													<label class="control-label">Purchase Price</label>
													<input type="number" name="PurchasePrice" id="PurchasePrice" tabindex="10"  class="form-control" />
													<span asp-validation-for="PurchasePrice" class="text-danger"></span>
												</div>
											</div>
										
									</div>
								</div>*@
							</div>
							<div class="container-fluid row wizard-footer">
								<div class="pull-left text-center col-sm-6">
									<input type='button' class='btn btn-previous btn-fill btn-black btn-wd' name='previous' value='Previous' />


								</div>
								<div class="pull-right text-center col-sm-6">
									<input type='button' class='btn btn-next btn-fill btn-blue btn-wd' name='next' value='Next' />
									<input type='submit' asp-area='user' asp-controller='Valuations' asp-action='GetValuation' class='btn btn-finish btn-fill btn-blue btn-wd' name='finish' value='Finish' />

								</div>
								<div class="clearfix"></div>
							</div>
						</form>
					</div>
				</div> <!-- wizard container -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="~/js/valuations.min.js"></script>
<script src="~/js/bootstrap-datepicker.min.js"></script>
