<section>
  <h1>GoSmartValue Terms and Conditions</h1>

  <h2>Disclaimer</h2>

<p>Whilst reasonable care is taken to ensure that the information contained on this website is accurate, we cannot guarantee its accuracy and we reserve the right to change the information
  on this website (including these terms and conditions) at any time without notice. You must check these terms and conditions for changes every time you intend to use this website.
  If you use this website after such updated or amended terms and conditions have been displayed on this website, you will be deemed to have accepted such updates or amendments.</p>

<p>Any person who accesses this website or relies on this website or on the information contained in this website does so at his or her own risk.</p>

<p>Vantage Properties takes reasonable measures to ensure that the content of this website is accurate and complete, they make no representations or warranties, whether express or implied, as to the quality, timeliness, operation, integrity, availability, or functionality of this website or as to the accuracy, completeness, or reliability of any information on this website.</p>

<h2>Introduction</h2>

  <p>Vantage Properties permits the use of this platform subject to all the terms and conditions set below, by using this website you shall be deemed to have read all the terms and conditions as set out below unconditionally.</p>
<ol>
  <li>“Vantage properties”, “We”, “Us”, “Our” “Gosmartvalue” refers to our company Vantage Properties (PTY) Ltd.</li>

  <li>“You” refers to you, our customer who uses our GoSmartValue platform.</li>

  <li>These terms and conditions are an agreement that includes the rules and guidelines of acceptable behavior and other useful sections to which you must agree to use our website.</li>

  <li>If there is anything that is unclear to you, do not hesitate to contact us for clarity before accepting our terms and conditions or using our website in general.</li>

  <li>Note that we may amend our terms of and conditions at our sole discretion from time to time and we will notify you of any changes to these terms.</li>

  <li>The contents of our GoSmartValue platform are protected by law, including but not limited to copyright and trademark law. GoSmartValue is a product of Vantage properties (PTY) Ltd
    as such any use, distribution, reproduction of the platform is prohibited unless expressly authorized in terms of these terms and conditions.</li>
</ol>


<h2>Customer Profile</h2>
<ol>
  <li> To register on our website, you must provide the following information.
    <ul>
      <li>First name</li>
      <li>Last name</li>
      <li>Phone number</li>
      <li>Email address</li>
      <li>Password</li>
      We will use your cellphone number as a unique identifier in our database and you will use your email address and password to log onto our platform.
    </ul>
  </li>
  <li>By registering on GoSmartValue and using our service, you acknowledge that you have read and agreed to be bound by these terms and conditions, you agree that we will send invoices to you electronically after paying for our services.</li>
  <li>Please keep your credentials private and secure, do not share them with anyone. Only authorized users may access their profile with their credentials.</li>
  <li>We will not accept any liability for any damages or losses that you may suffer from unauthorized use of your profile.</li>
</ol>
<h2>Payments</h2>

  <p>You consent to our use of the services of reputable and secure third-party payment service providers to process financial transactions and acknowledge that doing so necessitates the disclosure of your payment information when you pay for the services we provide you with.</p>

  <h3>Payment methods available</h3>
  <ul>
    <li>Mobile Money</li>
    <li>Card (Visa, MasterCard and American Express)</li>
    <li>Electronic funds transfer</li>
  </ul>
<h2>Privacy & Security</h2>
<ol>
  <li>For a detailed description of GoSmartValue privacy policy, kindly refer to the <a href="/privacy-policy">Privacy Policy</a></li>

  <li>Kindly note that GoSmartValue does not disclose any of your personal details to other individuals or third-party companies, furthermore, we do not keep a record of, or store, any part of your bank card details.</li>
</ol>

<h2>Website Availability</h2>
<ol>
  <li>We will use reasonable endeavors to maintain the availability of the website, except during scheduled maintenance periods.</li>

  <li>We are entitled to discontinue providing the website or any part thereof with or without notifying you.</li>

  <li>If you fail to comply with your obligations under these terms and conditions including payment of our service, this may, in our sole discretion with or without notifying, may lead to a suspension and/ or termination of your access to our services on our platform without any prejudice to any claims for damages or otherwise that we may have against you.</li>
</ol>

<h2>Refund Policy</h2>

<p>Refund Policy for GOsmartvalue.com</p>

<p>Thank you for purchasing or subscribing to our services at www.gosmartvalue.com operated by Vantage Properties.</p>

<p>We offer a full money-back guarantee for all purchases made on our website. If you did not receive the service that you have purchased from us, you can get your money back no questions asked. You are eligible for a full reimbursement within 14 calendar days of your purchase.</p>

<h2>To qualify for a refund the following should be true of your purchase.</h2>
<ol>
  <li>The report you received is a null result for the information you were searching for.</li>

  <li>The report you received is not the report you ordered.</li>

  <li>The report you received has an error message.</li>
</ol>

<p>The services provided on this platform are provided within a short period of time and once they have been completed you are deemed to have received such service. All reports are generated in line with standards of practice as prescribed by the relevant legislation in the jurisdiction in which the service is provided.</p>

<p>If you have any additional questions or would like to request a refund, feel free to contact us.</p>
<a href="mailto:info@vantagepropertiesbw.com">info@vantagepropertiesbw.com</a>
</section>
