<div class="footer">
  <div class="contain">
    <div class="col">
      <ul>
        <li><img src="assets/layout/images/smart-logo.png" alt="" class="logo"></li>
        <li>@ GoSmartValue {{year}}</li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li routerLink="/contact-us">Contact</li>
        <li routerLink="/terms-and-conditions">Terms & Conditions</li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li><a href="https://www.facebook.com/Gosmartvalue" target="_blank" rel="noopener noreferrer"><i class="pi pi-facebook"></i> Facebook</a></li>
        <li><a href="https://twitter.com/infovantage" target="_blank" rel="noopener noreferrer"><i class="pi pi-twitter"></i> Twitter</a></li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li>Subscribe to our newsletter</li>
        <li>
          <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
            <input type="text" pInputText placeholder="Email Address">
          </div>
        </li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li><i class="pi pi-phone"></i> +267 77 33 8100</li>
        <li><i class="pi pi-envelope"></i> info@gosmartvalue.com</li>
        <li><img src="assets/images/partners/rics-logo.jpg" alt="" class="partner-image"></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
