@model IEnumerable<AV.Common.Entities.MarketInformation>
@{
    ViewData["Title"] = "Index";
    Layout = "Layouts/_BackOffice";

}
<div class="row">
    Market Info - Tabs
</div>
<div class="row">
    @*  *@
</div>
