<ul class="collapse list-unstyled" id="organisationsMenuItems">
    <li>
        <a class="dropdown-item" asp-area="user" asp-controller="Account" asp-action="OrganisationDetail">View Details</a>
    </li>
    <li>
        <a class="dropdown-item" asp-area="user" asp-controller="Account" asp-action="Index">
            My Users
        </a>
    </li>
</ul>