<h2 class="section-title">Flat 20% off Premium Accounts</h2>
<div class="grid justify-content-center">
  <p class="section-description">Get 20% off premium accounts with the code SMART2021. Offer ends October</p>
</div>

<section class="grid flex justify-content-center
    xl:flex-row lg:flex-row md:flex-row sm:flex-column">

  <div class="xl:col-4 lg:col-4 md:col-6 sm:col-12">
    <div class="card">
      <div class="grid">
        <div class="image-section col-6">
          <img [src]="'assets/images/promo/promo-1.jpg'" alt="Picture"/>
        </div>
        <div class="description-section col-6">
          <p class="header standard"><i class="pi pi-star"></i> Standard</p>
          <p class="price">BWP 175 p/m</p>
          <p><i class="pi pi-chart-line"></i> Sales Trends</p>
          <p><i class="pi pi-home"></i> Rental Trends</p>
          <p><i class="pi pi-chevron-up"></i> Land Rates</p>
          <p><i class="pi pi-home"></i> Building Rates</p>
          <p><i class="pi pi-file"></i> 1 Property Report p/m</p>
        </div>
      </div>
    </div>
  </div>

  <div class="xl:col-4 lg:col-4 md:col-6 sm:col-12">
    <div class="card">
      <div class="grid">
        <div class="image-section col-6">
          <img [src]="'assets/images/promo/promo-2.jpg'" alt="Picture"/>
        </div>
        <div class="description-section col-6">
          <p class="header premium"><i class="pi pi-star"></i><i class="pi pi-star"></i> Premium</p>
          <p class="price">BWP 200 p/m</p>
          <p><i class="pi pi-chart-line"></i> Sales Trends</p>
          <p><i class="pi pi-home"></i> Rental Trends</p>
          <p><i class="pi pi-chevron-up"></i> Land Rates</p>
          <p><i class="pi pi-home"></i> Building Rates</p>
          <p><i class="pi pi-file"></i> 2 Property Report p/m</p>
        </div>
      </div>
    </div>
  </div>

  <div class="xl:col-4 lg:col-4 md:col-6 sm:col-12">
    <div class="card">
      <div class="grid">
        <div class="image-section col-6">
          <img [src]="'assets/images/promo/promo-3.jpg'" alt="Picture"/>
        </div>
        <div class="description-section col-6">
          <p class="header enterprise"><i class="pi pi-star"></i><i class="pi pi-star"></i><i class="pi pi-star"></i> Enterprise</p>
          <p class="price">BWP 375 p/m</p>
          <p><i class="pi pi-chart-line"></i> Sales Trends</p>
          <p><i class="pi pi-home"></i> Rental Trends</p>
          <p><i class="pi pi-chevron-up"></i> Land Rates</p>
          <p><i class="pi pi-home"></i> Building Rates</p>
          <p><i class="pi pi-file"></i> 5 Property Report p/m</p>
        </div>
      </div>
    </div>
  </div>
</section>
