.content-section {
  height:100%;
  width:100%!important;
  overflow:hidden!important;
}

p{
  text-align: center;
  font: normal normal 300 2.61rem Gilroy Regular;
  color: #1A2E49;
  opacity: 1;
  margin:0 auto;
}

.message {
  text-align: center;
}

img {
  width:14rem;
  height:14rem;
  margin-bottom: 4rem;
}
