@{
	ViewData["Title"] = "Detailed Report";

	Layout = "Layouts/_CorporateLayout";
}

<div class="outer container-fluid" style="background-image:url(/valuationsIndex.jpg);background-size:cover;height:100vh">
	<div class="middle container-fluid" style="padding-top:75px">
		<div class=" inner container-fluid" style="height:500px;margin:auto;max-height:100%;">

			<div class="box-shadow col-md-12 container-fluid" style="background-color: #ffffff;height:100%;box-shadow: 31px 14px 0px darkred;">
				<div class="col-sm-12 container-fluid">
					<div class="row col-sm-12">
						<div class="col-sm-2">
							<label>Plot :</label>
						</div>
						<div class="col-sm-4">
							<label>1175</label>
						</div>
					</div>
					<div class="row col-sm-12">
						<div class="col-sm-2">
							<label>City :</label>
						</div>
						<div class="col-sm-4">
							<label>Francistown</label>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>