@{
    ViewData["Title"] = "Internal Report";

    Layout = "Layouts/_CorporateLayout";
}

<div class="outer container-fluid" style="background-image:url(/reports.jpg);background-size:cover;height:100vh">
    <div class="middle container-fluid" style="padding-top:75px">
        <div class=" inner container-fluid" style="height:500px;margin:auto;max-height:100%;">

            <div class=" col-md-12 container-fluid" style="">
                <div class="container-fluid">
                    <div class="row col-sm-12" style="padding:15px">
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-header">
                                    Instructions issued in November 2019
                                </div>
                                <div class="card-body">

                                    <img src="~/pie-chart.png" height="100" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-header">
                                    Instructuctions per Valuer
                                </div>
                                <div class="card-body">

                                    <img src="~/barChart.png" height="100" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-header">
                                    Average Instruction Turnaround time
                                </div>
                                <div class="card-body">

                                    <img src="~/pie-chart.png" height="100" />
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>