@{
	ViewData["Title"] = "Property Instruction";

	Layout = "Layouts/_CorporateLayout";
}

<div class="col-sm-12" style="		background-image: url(/pcWoman.jpg);background-size: cover;height: 100vh">
	<div class="row col-sm-12" style="padding-top:88px;padding-left:100px">
		<div class="col-sm-6">
			<div class="row col-sm-12">
				<a asp-controller="GraphReports" asp-action="SalesValueTrends" style="font-size: 20px;color: #1a237e;font-family:'Segoe UI'"><i class="fa fa-chevron-right" style="text-decoration:none"></i><span> Sales Trends</span></a>
			</div>
			<div class="row col-sm-12">
				<a asp-controller="Corporate" asp-action="BuildingInformation" style="font-size: 20px;color:#1a237e;font-family:'Segoe UI'"><i class="fa fa-chevron-right" style="font-size: 25px; text-decoration: none"></i><span> Building Information</span></a>
			</div>
			<div class="row col-sm-12">
				<a style="font-size: 20px;color:#1a237e;font-family:'Segoe UI'"><i class="fa fa-chevron-right" style="font-size: 25px;text-decoration: none"></i><span> Mortgage Data</span></a>
			</div>
			<div class="row col-sm-12">
				<a asp-controller="Corporate" asp-action="PropertySearch" style="font-size: 20px;color:#1a237e;font-family:'Segoe UI';text-decoration: none"><i class="fa fa-chevron-right" style="font-size: 25px;text-decoration: none"></i><span> Property Search</span></a>
			</div>
		</div>
		<div class="col-sm-6">

		</div>
	</div>
</div>