@{
    ViewData["Title"] = "User management";

    Layout = "Layouts/_CorporateLayout";
}

<div class="col-sm-12" style="		background-image: url(/index.jpg);background-size: cover;height: 100vh">
    <div class="row col-sm-12" style="padding-top:88px;padding-left:100px">
        <div class="col-sm-6">
            <div class="row col-sm-12">
                <a asp-controller="" asp-action=""><i class="fa fa-chevron-right" style="font-size:25px;text-decoration:none"></i><span> User Prmissions</span></a>
            </div>
            <div class="row col-sm-12">
                <a asp-controller="Corporate" asp-action="InviteUsers"><i class="fa fa-chevron-right" style="font-size:25px;text-decoration:none"></i><span> Add Users</span></a>
            </div>
            <div class="row col-sm-12">
                <a><i class="fa fa-chevron-right" style="font-size:25px;text-decoration:none"></i><span> Edit Users</span></a>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="row col-sm-12">

            </div>
        </div>
    </div>
</div>