button{
  margin:0.4rem!important;
}

.price {
  font: normal normal 200 1.83rem Gilroy Heavy;
  font-size: 2rem;
}

p{
  font-size: 1.2rem;
  color: #1A2E49;
  opacity: 1;
}

.p-field {
  margin-top: 1.5rem;
}

.field-radiobutton {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: "Gilroy Regular", serif;
  font-size: 1.5rem;
}
