h1{
    font: normal normal 200 1.8rem Gilroy Heavy;
    color:#000000;
  }

.panel{
    margin-top: 2rem;
}

.date-span, .status-label-span{ 
    width: 50%;
    margin-left: 2rem;
    font-size: large;

}

.status{
    color: #1E9877;
}

.accordion-header{
    width: 100%;
    margin-top: 1rem;
}

.order{
    margin-top: 1rem !important;
}






