@{
    ViewData["Title"] = "Discussions";

    Layout = "Layouts/_ValuerLayout";
}

    <div class="col-sm-12" style="		background-image: url(/discussions.jpg);background-size: cover;height: 100vh">
        <div class="container-fluid" style="padding-top:100px">
            
            <div class="container-fluid">
                <partial name="Components/Chatroom/_PostComment" />
            </div>
        </div>
    </div>