<h2 class="section-title">Instructions</h2>

<p-tabView>
    <p-tabPanel header="New">
        <app-val-new-instructions></app-val-new-instructions>
    </p-tabPanel>
    <p-tabPanel header="Pending">
        <app-val-pending-instructions></app-val-pending-instructions>
    </p-tabPanel>
    <p-tabPanel header="Completed">
        <app-val-completed-instructions></app-val-completed-instructions>
    </p-tabPanel>
    <p-tabPanel header="Rejected">
        <app-val-rejected-instructions></app-val-rejected-instructions>
    </p-tabPanel>
</p-tabView>
