<h2 class="section-title">Why Us?</h2>
<div fxLayoutAlign="center">
<p class="section-description">The online real estate valuation platform, connecting you to valuation expertise and reliable information for decision making.</p>
</div>

<section class="flex align-content-center align-items-center justify-content-center flex-wrap card-container
    xl:flex-row lg:flex-row md:flex-row sm:flex-column flex-column">
  <div class="xl:col-4 lg:col-4 md:col-6 sm:col-12">
    <div class="card">
      <div class="flex card-header justify-content-center">
        <button pButton type="button" icon="pi pi-thumbs-up" class="p-button-rounded p-button-text button1"></button>
      </div>
      <p class="card-subtitle">Reliability</p>
      <p class="card-text">
          Receive a notification for each stage of your valuation process ensuring that you know how far your valuer
          has progressed and when to expect your report
      </p>
    </div>
  </div>
  <div class="xl:col-4 lg:col-4 md:col-6 sm:col-12">
    <div class="card">
      <div class="flex card-header justify-content-center">
        <button pButton type="button" icon="pi pi-chart-bar" class="p-button-rounded p-button-text button2"></button>
      </div>
      <p class="card-subtitle">Data</p>
      <p class="card-text">
          We provide you with the underlying data and statistics that have informed your property
      </p>
    </div>
  </div>
  <div class="xl:col-4 lg:col-4 md:col-6 sm:col-12">
    <div class="card">
      <div class="flex card-header justify-content-center">
        <button pButton type="button" icon="pi pi-cog" class="p-button-rounded p-button-text button3"></button>
      </div>
      <p class="card-subtitle">Efficiency</p>
      <p class="card-text">
          Receive a notification for each stage of your valuation process ensuring that you know
          how far your valuer has progressed and when to expect your report
      </p>
    </div>
  </div>
</section>

<div class="flex align-items-center justify-content-center">
    <button class="button-subscribe"><span>Subscribe</span></button>
</div>
