<p>New Password</p>

<form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()" fxLayout="column">
  <div class="p-field">
      <span class="p-float-label">
          <input type="password" formControlName="password" id="password" pInputText>
          <label for="password">Password</label>
          <p class="p-error" *ngIf="f.password.hasError('required') && f.password.dirty"> Password required.</p>
      </span>
  </div>
  <div class="p-field">
      <span class="p-float-label">
          <input type="password" formControlName="confirmPassword" id="confirm" pInputText>
          <label for="confirm">Confirm Password</label>
          <p class="p-error" *ngIf="f.confirmPassword.hasError('required') && f.confirmPassword.dirty"> Confirm password required.</p>
          <p class="p-error" *ngIf="f.confirmPassword.hasError('NoPasswordMatch') && f.confirmPassword.dirty">Passwords do not match.</p>
      </span>
  </div>

  <div class="flex align-items-center">
    <button class="button-save" [disabled]="!changePasswordForm.valid">
      <i class="topbar-icon pi pi-unlock"></i>
      <span> Change Password</span>
    </button>
  </div>
</form>
