<p-card [style]="{'min-height': '15rem', 'border-radius':'2rem', 'border-style': 'solid','border-color':'#5CB8E8', 'margin-top':'2rem'}" class="address">
  <div class="header">
    <!--    <div class="flex justify-content-start">-->
    <!--      <i class="topbar-icon pi pi-shopping-cart"></i>-->
    <!--    </div>-->
    <div class="flex justify-content-center">
      <span class="title">ADDRESS</span>
    </div>
    <!--    <div class="flex justify-content-end">-->
    <!--      <i class="topbar-icon pi pi-shopping-cart"></i>-->
    <!--    </div>-->
  </div>
  <div class="details">
    <div>
      <label>Plot No: </label>
      <output>36846</output>
    </div>
    <div>
      <label>Street: </label>
      <output>Pelontswa</output>
    </div>
    <div>
      <label>Locality: </label>
      <output>Block 8</output>
    </div>
    <div>
      <label>Location: </label>
      <output>Gaborone</output>
    </div>
  </div>


</p-card>
