<ul class="collapse list-unstyled" id="userValuationsMenuItems">
    <li>
        <a class="dropdown-item" asp-area="user" asp-controller="Valuations" asp-action="Index">All Valuations</a>
    </li>
    <li>
        <a class="dropdown-item" asp-area="user" asp-controller="Valuations" asp-action="Index">Pending Reports</a>
    </li>
    <li>
        <a class="dropdown-item" asp-area="user" asp-controller="Valuations" asp-action="Index">Pending Requests</a>
    </li>
</ul>