i {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size:3rem;

}

h3 {
  font: normal normal 300 2rem Gilroy Regular;
}

h3 {
  font: normal normal 300 2rem Gilroy Regular;
}

.center-content {
  text-align: center;
}

.modal-header {
  margin-bottom: 4rem;
}

.modal-header h3 {
  margin-bottom: 4rem;
  font: normal normal 300 2rem Gilroy Heavy;
}

.standard {
  box-shadow: 0 1rem 2rem #00000029;
  border: 2px solid #FF8800;
  color: #FF8800;
}

.valuer {
  box-shadow: 0 1rem 2rem #00000029;
  border: 2px solid #1B2D49;
  color: #1B2D49;
}

.corporate {
  box-shadow: 0 1rem 2rem #00000029;
  border: 2px solid #9f105c;
  color: #9f105c;
}

.standard-txt {
  color: #FF8800;
}

.valuer-txt {
  color: #1B2D49;
}

.corporate-txt {
  color: #9f105c;
}
