@{
	Layout = "_Layout";

}
<script>
	window.fwSettings = {
		'widget_id': 66000001161
	};
	!function () { if ("function" != typeof window.FreshworksWidget) { var n = function () { n.q.push(arguments) }; n.q = [], window.FreshworksWidget = n } }()
</script>
<script type='text/javascript' src='https://widget.freshworks.com/widgets/66000001161.js' async defer></script>


<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>

<link rel="stylesheet" media="screen, projection" href="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css" />

<div class="col-sm-12" style="padding:50px">
	<iframe title="Feedback Form" class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="https://vantagepropertiesbw.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&screenshot=No" scrolling="no" height="500px" width="100%" frameborder="0">
	</iframe>
</div>


