@{
	Layout = "_Layout";

}

<div class="outer container-fluid image-container set-full-height" style="background-image:url(/valuationsIndex.jpg);">
	<div class="middle container-fluid" style="padding-top:75px">
		<div class=" inner container-fluid" style="min-height:500px;margin:auto;max-height:100%;">

			<div class="card shadow col-md-12 container-fluid" style="background-color: #ffffff;height:100%;">
				<div class="text-center col-sm-12">
					<div class="text-center">
						<h1>Congratulations</h1>
					</div>
					<div class="text-center">
						<h5 class="text-center">Welcome to <i>GOsmartvalue.com</i>,</h5>
					</div>
					<div class="text-center">
						<p>Your account has been successfully created.</p>
						<p>An account activation email has been forwarded to you.Kindly log on to your email account,follow the link sent and activate your account to access our system.</p>
					</div>
					<div class="text-center">
						<h4>THANK YOU FOR JOINING OUR TEAM</h4>
					</div>
					<div class="text-center form-group">
						<a asp-controller="Account" asp-action="Login">LOGIN</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


