.section-title {
  text-align: center;
  font: normal normal 300 50px/65px Gilroy Regular;
  color: #1A2E49;
  opacity: 1;
  text-decoration: underline #FF8800;
  text-underline-offset: 1rem;
  margin-top:2rem;
}
