<div style="margin: 0 auto; max-width: 600px; background: #ffffff">
    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size: 0px; width: 100%; background: #ffffff; border-top: 3px solid #fead0d" align="center" border="0">
        <tbody>
        <tr>
            <td style="text-align: center; vertical-align: top; font-size: 0px; padding: 40px 30px 30px 30px">

                <div aria-labelledby="mj-column-per-100" class="m_-8535416616635464349mj-column-per-100" style="vertical-align: top; display: inline-block; font-size: 13px; text-align: left; width: 100%">
                    <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                        <tbody>
                        <tr>
                            <td style="word-break: break-word; font-size: 0px; padding: 0px; padding-bottom: 30px" align="center">
                                <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0px" align="center" border="0">
                                    <tbody>
                                    <tr>
                                        <td style="width: 180px">
                                            <a href="<%#activationLink#%>" target="_blank" data-saferedirecturl="">
                                                <img alt="" title="" height="auto" src="<%#logoImageUr#%>" style="border: none; display: block; outline: none; text-decoration: none; width: 100%; height: auto" width="180" class="CToWUd">
                                            </a>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="word-break: break-word; font-size: 0px; padding: 0px; padding-bottom: 30px" align="center">
                                <div style="color: #55575d; font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 22px; font-weight: 700; line-height: 22px">
                                    Activate Your Account
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="word-break: break-word; font-size: 0px; padding: 0px; padding-bottom: 35px" align="center">
                                <div style="color: #8c8c8c; font-family: Roboto, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px">
                                    We just need to validate your email address to activate your gosmartvalue.com account. Simply click the following button:
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="word-break: break-word; font-size: 0px; padding: 0px; padding-bottom: 35px" align="center">
                                <div style="color: #8c8c8c; font-family: Roboto, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="word-break: break-word; font-size: 0px; padding: 0px; padding-bottom: 40px" align="center">
                                <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse: separate" align="center" border="0">
                                    <tbody>
                                    <tr>
                                        <td style="border-radius: 2px; color: #fff; padding: 10px 25px" align="center" valign="middle" bgcolor="#fead0d">
                                            <a href="<%#activationLink#%>">
                                                Activate my account
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="word-break: break-word; font-size: 0px; padding: 0px; padding-bottom: 8px" align="center">
                                <div style="color: #8c8c8c; font-family: Roboto, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px">
                                    If the link doesn’t work, copy this URL into your browser:
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="word-break: break-word; font-size: 0px; padding: 0px; padding-bottom: 35px" align="center">
                                <div style="color: #3586ff; font-family: Roboto, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px">
                                    <a href="<%#activationLink#%>"><%#activationLink#%></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="word-break: break-word; font-size: 0px; padding: 0px" align="center">
                                <div style="color: #8c8c8c; font-family: Roboto, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px">
                                    Your property awaits - goSmartValue.com!
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="word-break: break-word; font-size: 0px; padding: 0px" align="center">
                                <div style="color: #8c8c8c; font-family: Roboto, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px">
                                    The goSmartValue team.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="word-break: break-word; font-size: 0px; padding: 0px" align="center">
                                <div style="color: #8c8c8c; font-family: Roboto, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px">
                                    &nbsp;
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>